* {
    font-family: sans-serif;
    /* font-style: italic; */
    /* color: #000000;  */
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 600px) {
    
    .topnav a.icon {
        float: inline-start;
        display: left;
        position: absolute;
        /* size: 20px; */
    }

    #logo {
        background-color: #fdd831;
        position: absolute;
        top: -0.5rem;
        z-index: 2;
        left: 2.8rem;
        width: 4.5rem;
        height: 98px;
        padding: 0.50rem 0.50rem;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    .icon {
        display: inline-block;
        padding: 20px;
    }


    .lower-navbar,
    .upper-wrapper {
        display: none;
        flex-direction: column;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: relative;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    #logo {
        left: 3rem;
        height: 45px;
        width: 2.5rem;
    }


}

/* .lower-navbar li::after{
    content: "";
    position: absolute;
    border-bottom: 5px solid black;

} */
/* .icon{
    display: none;
} */
a {
    text-decoration: none;
    color: grey;
}

li {
    list-style: none;
    padding: 8px;
    /* display: inline-block; */
    top: 20px;
}


#logo {
    background-color: #fdd831;
    position: absolute;
    top: -0.5rem;
    z-index: 2;
    left: 2.8rem;
    width: 5.5rem;
    height: 88px;
    padding: 1.15rem 0.75rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.upper-navbar {
    background-color: #171717;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0px;
    left: -2.5rem;
    height: 39px;
}

.lower-wrapper {
    /* border-bottom: 2px solid  #80808078; */
    /* z-index: 3; */
    box-shadow: 0 0 4px grey;
}

.lower-navbar {
    background-color: #ffffff;
    padding: 0;
    margin-left: 10.83rem;
    margin-top: 0;
    display: flex;
    height: 54px;
    justify-content: start;

}

.lower-navbar li {
    padding-top: 20px;
    font-size: small;
    margin: 0 4px;/
    /* width: ;  */
}

.lower-navbar li a::after,
.lower-navbar li a:hover,
a:active {
    content: "";
    position: relative;
    border-bottom: 3px solid #fdd831;

}

/* bottom: 5rem; */
/* a:hover{
    
} */
.lower-navbar li a:hover {
    color: rgb(0, 0, 0);
    opacity: 1;

}

.upper-navbar li a svg {
    padding-top: 4px;
    padding-right: 9px;

}

.search-box {
    background-color: whitesmoke;
    border-radius: 4px;
    border-color: #7f797960;
    width: 9rem;

}

.search-box::placeholder {
    color: #000000;
}

.search-logo {
    /* width: 20px; */
    border-color: #7f797960;
}

/* a:visited{
    color: coral;
} */
.icon {
    display: none;
}

.year-head{
    display: flexbox;
    text-align: center;
    margin-top: 22px;
    align-items: center;
    color: #000000;
}

.member-card {
    margin: 20px;
    text-align: center;
    position: relative;
    flex-basis: calc(20% - 40px);
}
.member-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.member-card {
    margin: 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.member-photo {
    width: 100%;
    height: 100%;
    /* border-radius: 50%;
    overflow: hidden; */
    position: relative;
}

.member-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-icons {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.member-card:hover .social-icons {
    opacity: 1;
}

.member-card:hover, .member-card.active {
    transform: scale(1.1);
}
.social-icons a {
    margin: 0 10px;
}

.member-details {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    color: #f2ff00 !important;
    z-index: 2; /* Ensure it's above the inclined surface */
}
.member-card:hover .member-details {
    opacity: 1;
}
