* {
  font-family: sans-serif;
  /* font-style: italic; */
  /* color: #000000;  */
  padding: 0;
  margin: 0;
}

.icon {
  display: none;
}
.members{
  /* background-color: #f4f5ff; */
  /* background-color: #f4f5ff; */
  /* background-color: #dcd8cf; */
  /* background-color: #f0f0f0; */
  /* background-color: #b3d7ea; */
  background-color: #e7dcd6;
  /* background-color: #d4dffe; */
  /* background-color: #ddd0c8; */
}

.year-head {
  display: flexbox;
  text-align: center;
  margin-top: 22px;
  align-items: center;
  color: #000000;
}

.member-card {
  margin: 20px;
  text-align: center;
  position: relative;
  flex-basis: calc(20% - 40px);
  transition: 150ms;
}
.member-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.member-card {
  margin: 20px;
  text-align: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
}

.member-photo {
  width: 100%;
  height: 100%;
  /* border-radius: 50%;
    overflow: hidden; */
  position: relative;
}

.member-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-icons {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.member-card:hover .social-icons {
  opacity: 1;
}

.member-card:hover,
.member-card.active {
  transform: scale(1.1);
}
.social-icons a {
  margin: 0 10px;
}

.member-details {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  color: #f2ff00 !important;
  z-index: 2; /* Ensure it's above the inclined surface */
}
.member-card:hover .member-details {
  opacity: 1;
}
h1 {
  color: #000000;
  font-size: xx-large !important;
  font-weight: 600 !important;
}

@media (max-width: 480px) {
  .member-card {
    text-align: center;
    position: relative;
    flex-basis: calc(50% - 40px);
    /* flex-basis: calc(100% - 100px); */
    transition: 150ms;
  }
  h3{
    font-size: small;
  }
  .social-icons {
    bottom: 2px;
  }
}
/* @media (max-width: 768px) {
  .member-card {
    text-align: center;
    position: relative;
    transition: 150ms;
  }
} */