* {
  font-family: sans-serif;
  /* font-style: italic; */
  /* color: #000000;  */
  padding: 0;
  margin: 0;
}

/* .icon {
  display: none;
} */
body{
  /* background-color: #f4f5ff; */
  background-color: #f4f5ff;
  /* background-color: #dcd8cf; */
  /* background-color: #f0f0f0; */
  /* background-color: #b3d7ea; */
  /* background-color: #e7dcd6; */
  /* background-color: #d4dffe; */
  /* background-color: #ddd0c8; */
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.member-card {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(148, 66, 66, 0.478);
  margin: 1em;
  padding: 1em;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  width: 300px;
  height: 25%;
  text-align: center;
  position: relative;
  margin-bottom: 1.5em;
}

.member-card:hover {
  transform: scale(1.05);
}

.member-card .social-icons {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.member-card:hover .social-icons {
  opacity: 1;
}

.member-image {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 1em;
}

.member-details {
  text-align: center;
}

.member-name {
  font-size: 1.2em;
  font-weight: bold;
}

.member-role {
  color: #555;
  margin-bottom: 0.5em;
}

.social-icons {
  margin-top: 0.5em;
}

.social-icons a {
  display: inline-block;
  margin: 0 0.5em;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

.founding-members-title,
.cc-members-title,
.head-members-title,
.ctm-members-title,
.am-members-title {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  text-transform: uppercase;
  width: 100%;
}

@media (max-width: 600px) {
  .member-card {
    width: 100%;
  }
}

/* @media (max-width: 768px) {
  .member-card {
    text-align: center;
    position: relative;
    transition: 150ms;
  }
} */